    $boxShadow : 2px 2px 15px 1px rgba(80, 80, 80, 0.6);
    $borderRadius : 5px;
    
    #mainContainer{
        display: grid;
    }
    #eventTopicContainer{
        display: grid;
        grid-template-columns: 80%;
        justify-content: center;
        align-content: center;
    }

    #outerDiv{
        height: 300px;
		display: grid;
        border: 1px solid rgb(213, 49, 46);
        border-radius: $borderRadius;
        background-color: #da6d4c;
        box-shadow: $boxShadow;
        grid-template-columns: 60%;
        grid-template-rows: 200px;
        justify-content: center;
        align-content: center;
	}
	#innerDiv{
		display: grid;
        border: 1px solid rgb(22, 97, 18);
        border-radius: $borderRadius;
        background-color: #25a93f;
        box-shadow: $boxShadow;
        grid-template-columns: 50%;
        grid-template-rows: 150px;
        justify-content: center;
        align-content: center;
	}
    
    #actionDiv{
        display: grid;
        border: 1px solid rgb(12, 67, 101);
        border-radius: $borderRadius;
        background-color: #186a88;
        box-shadow: $boxShadow;
        justify-items: center;
        align-items: center;
        button{
            width: 15em;
            height: 25px;
            margin-top: 1em;
            border: 1px solid #333;
            border-radius: $borderRadius;
            box-shadow: $boxShadow;
            cursor: pointer;
        }
    }
    #resultDiv{
        display: grid;
        border-radius: $borderRadius;
        box-shadow: $boxShadow;
        grid-template-rows: 50px 1fr;
    }
    .resetRow{
        display: grid;
        border-radius: $borderRadius;
        box-shadow: $boxShadow;
        grid-gap: 10px;
        justify-items: center;
        align-items: center;
        
        button{
            width: 200px;
            height: 30px;
            border-radius: $borderRadius;
            box-shadow: $boxShadow;
            cursor: pointer;
        }
    }
    .resultRow{
        display: grid;
        border-radius: $borderRadius;
        box-shadow: $boxShadow;
        grid-template-columns: 1fr 1fr;
        justify-content: center;
        align-content: center;
    }

    .checkBoxWrapper{
        color: #fff;
        padding: 5px;
    }
    .capturingHeader, .bubblingHeader{
        background-color: rgb(12, 84, 106);
        border-radius: $borderRadius;
        color: #fff;
        align-items: center;
        margin-bottom: 5px;
    }
    .capturingHeader, .bubblingHeader, .capturingSection, .bubblingSection{
        display: grid;
        justify-content: center;
        grid-auto-rows: 30px;
        grid-gap: 5px;
    }


.phaseItem{
    animation: animateElement linear .3s;
    animation-iteration-count: 1;
    width:100%;
    min-height:30px;
    border-radius:10px;
   }
  
  @keyframes animateElement{
    0% {
      opacity:0;
      transform:  translate(0px,10px);
    }
    100% {
      opacity:1;
      transform:  translate(0px,0px);
    }
  }

	
.textWithImageBG{
    font                    : bolder 12vw 'Times';
    width                   : 75vw;
    margin                  : auto;
    text-align              : center;
    background              : url("../images/code.jpg") center;
    background-size         : contain;
    background-clip         : text;
    -webkit-background-clip : text;
    color                   : transparent;
    text-shadow             : 5px 10px 25px #0e0e0e;
}
.maskedTitle {
    text-align                          : center;
    font-size                           : 15vw;
    background-image                    : url(../images/gallery/col3Gallery/c3Pic5.jpeg);
    -webkit-text-fill-color             : transparent;
    -webkit-background-clip             : text;
    background-clip                     : text;
    -webkit-animation-name              : animateTextMask;
    animation-name                      : animateTextMask;
    -webkit-animation-duration          : 80s;
    animation-duration                  : 80s;
    -webkit-animation-timing-function   : linear;
    animation-timing-function           : linear;
    -webkit-animation-iteration-count   : infinite;
    animation-iteration-count           : infinite;
    opacity                             : .2;
}
@keyframes animateTextMask {
    0% {
        background-position: left bottom;
    }
    100% {
        background-position: right bottom;
    }
}